.area-cards{
    background-color: var(--azul);
    max-width: 2000px;
    height: auto;
    margin: 1rem auto 0 auto;
    padding: .5rem;

    display: flex;
    flex-direction: column;
}

.titulo h3{
    text-align: center;
    margin-bottom: 20px;

    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--amarelo);
}

.cards-view, .cards{
    /* border: 1px solid; */
    width: 100%;
    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: .5rem;

}

.cards{
    
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
}
.cards::-webkit-scrollbar{
    display: none;
}


.card{
    width: 200px;
    height: 300px;

    flex: none;

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-body{
    background-color: rgba(0, 255, 255, 0.309);
    width: 100%;
    height: auto;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

.card-titulo, .card-subtitulo{
    height: 30%;
    letter-spacing: .2rem;
}

.card-titulo{
    text-transform: uppercase;
    color: var(--amarelo);
}



